@media screen and (max-width:992px) {
 header nav ul{
  display: none;
 }

 header nav .humber-icon{
  display: block;
  width: 15%;
  float: right;
 }

 header nav .humber-icon img{
  width: 55px;
  margin-top: 10px;
 }

 #responsive-nav{
  width: 220px;
  height: 100vh;
  background-color: rgba(0,0,0,0.9);
  position: absolute;
  top: 0;
  z-index: 1;
 }

 #responsive-nav ul{
  width: 100%;
  height: 100%;
  display: block;
 }

 #responsive-nav ul li{
  color: #fff;
  width: 100%;
  text-align: center;
 }
}
